[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule ".git-flow-completion"]
	path = .git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion
[submodule ".powerline"]
	path = .powerline
	url = https://github.com/powerline/powerline.git
	branch = master
[submodule ".powerlevel9k"]
	path = .powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
