[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".powerline"]
	path = .powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule ".local/share/gnome-shell/extensions/hamster@projecthamster.wordpress.com"]
	path = .local/share/gnome-shell/extensions/hamster@projecthamster.wordpress.com
	url = https://github.com/projecthamster/shell-extension.git
[submodule ".local/share/gnome-shell/extensions/caffeine"]
	path = .local/share/gnome-shell/extensions/caffeine
	url = https://github.com/eonpatapon/gnome-shell-extension-caffeine.git
[submodule ".local/share/gnome-shell/extensions/text_translator@awamper.gmail.com"]
	path = .local/share/gnome-shell/extensions/text_translator@awamper.gmail.com
	url = https://github.com/awamper/text-translator.git
[submodule ".local/share/gnome-shell/extensions/time_tracker_jsnjack@gmail.com"]
	path = .local/share/gnome-shell/extensions/time_tracker_jsnjack@gmail.com
	url = https://github.com/e-shulitsky/time-tracker.git
[submodule ".local/share/gnome-shell/extensions/dash-to-dock@micxgx.gmail.com"]
	path = .local/share/gnome-shell/extensions/dash-to-dock@micxgx.gmail.com
	url = https://github.com/micheleg/dash-to-dock.git
[submodule ".local/share/gnome-shell/extensions/gnome-shell-extension-calc"]
	path = .local/share/gnome-shell/extensions/gnome-shell-extension-calc
	url = git://github.com/eonpatapon/gnome-shell-extension-calc.git
[submodule ".local/share/gnome-shell/extensions/gs-extensions-drop-down-terminal"]
	path = .local/share/gnome-shell/extensions/gs-extensions-drop-down-terminal
	url = https://github.com/zzrough/gs-extensions-drop-down-terminal.git
[submodule ".local/share/gnome-shell/extensions/pomodoro"]
	path = .local/share/gnome-shell/extensions/pomodoro
	url = https://github.com/codito/gnome-shell-pomodoro.git
[submodule "Apps/hamster"]
	path = Apps/hamster
	url = https://github.com/projecthamster/hamster.git
[submodule ".local/share/gnome-shell/extensions/gTile@vibou"]
	path = .local/share/gnome-shell/extensions/gTile@vibou
	url = https://github.com/vibou/vibou.gTile
[submodule "Apps/todo.txt-cli"]
	path = /home/anass/Apps/todo.txt-cli
	url = https://github.com/ginatrapani/todo.txt-cli.git
[submodule ".local/share/gnome-shell/extensions/mediaplayer"]
	path = .local/share/gnome-shell/extensions/mediaplayer
	url = https://github.com/eonpatapon/gnome-shell-extensions-mediaplayer.git
